<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-container">
        <app-form-field label="Email" placeholder="Digite seu email" type="email" [control]="emailControl" />
        <app-form-field label="Senha" placeholder="Digite sua senha" type="password" [control]="passControl" />
        <app-form-field label="Confirme sua senha" placeholder="Confirme sua senha" type="password"
            [control]="confirmPassControl" />
        <div style="display: flex; flex-direction: column; gap: 16px;">
            <app-button text="Cadastrar-se" type="submit" width="100%" />

        </div>
    </div>
</form>