$primary: #18926e;
$secondary: #fff;
$font-primary: #fff;

$cancel-color: #b00020;
$error-color: #ff0000;
$success-color: #2e7d32;
$warning-color: #ed6c02;
$info-color: #0288d1;

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --font-primary: #{$font-primary};

  --cancel-color: #{$cancel-color};

  --error-color: #{$error-color};
  --sucess-color: #{$success-color};
  --warning-color: #{$warning-color};
  --info-color: #{$info-color};
}
