@if (loading()) {
  <app-spinner />
}

<app-entity-form-component
  icon="badge"
  [formGroup]="formGroup"
  (submitEvent)="onSave()"
  (cancelEvent)="onCancel()"
  titleCard="Cadastro de vendedor"
  subtitle="Preencha as informações do vendedor"
>
  <div>
    <div class="active">
      <mat-checkbox [formControl]="activeControl"> Vendedor Ativo </mat-checkbox>
    </div>

    <div class="row">
      @if (sellerId) {
        <div class="code">
          <app-form-field
            [readonly]="true"
            [disabled]="true"
            label="Código"
            [control]="codeControl"
          />
        </div>
      }

      <div class="name">
        <app-form-field label="Nome" [control]="nameControl" />
      </div>
    </div>
  </div>
</app-entity-form-component>
