app-select.select--primary {
  .mat-mdc-select-value,
  .mat-mdc-select-value-text,
  .mat-mdc-select-min-line,
  .mat-mdc-floating-label,
  .mdc-floating-label,
  mat-label {
    color: #fff;
  }

  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border-color: #fff !important;
    border-left: none !important;
  }

  .mdc-notched-outline__leading {
    border-color: #fff !important;
  }
}

app-select.select--secondary {
  .mat-mdc-select-value,
  .mat-mdc-select-value-text,
  .mat-mdc-select-min-line,
  .mat-mdc-floating-label,
  .mdc-floating-label,
  mat-label {
    color: rgba(0, 0, 0, 0.87) !important;
  }

  .mat-mdc-select-arrow svg {
    fill: rgba(0, 0, 0, 0.54) !important;
  }

  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border-color: rgba(0, 0, 0, 0.38) !important;
  }
}

.select-panel-secondary.mat-mdc-select-panel {
  background-color: #fff;

  .mat-mdc-option .mdc-list-item__primary-text {
    color: #000 !important;
  }

  --mat-minimal-pseudo-checkbox-selected-checkmark-color: #000;
  --mat-full-pseudo-checkbox-selected-checkmark-color: #000;

  .mat-pseudo-checkbox-minimal::after,
  .mat-pseudo-checkbox::after {
    color: #000 !important;
  }
}

app-select.select--disabled {
  $disabled-color: #cfcfcf;

  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing,
  .mdc-notched-outline__leading {
    border-color: $disabled-color !important;
  }

  .mat-mdc-select-value,
  .mat-mdc-select-value-text,
  .mat-mdc-select-arrow,
  .mat-mdc-floating-label,
  .mdc-floating-label,
  mat-label {
    color: $disabled-color !important;
  }

  .mat-mdc-select-arrow svg {
    fill: $disabled-color !important;
  }
}
