@if (loading()) {
  <app-spinner />
}

<app-entity-form-component
  icon="sell"
  [formGroup]="formGroup"
  (submitEvent)="onSave()"
  (cancelEvent)="onCancel()"
  titleCard="Cadastro de produto"
  subtitle="Preencha as informações do produto"
>
  <div>
    <div class="row">
      @if (productId) {
        <div class="code">
          <app-form-field
            [readonly]="true"
            [disabled]="true"
            label="Código"
            [control]="codeControl"
          />
        </div>
      }

      <div class="name">
        <app-form-field label="Nome" [control]="nameControl" />
      </div>
    </div>

    <div>
      <app-barcode-product-table
        (removeBarcode)="removeBarcode($event)"
        (addBarcode)="addBarcode()"
        [datasource]="barcodesControl.value"
      />
    </div>

    @if (productId) {
      <div class="financial-section">
        <p class="financial-section__label">Preços por Loja</p>
        <app-financial-statement-table
          [financialStatements]="financialStatements()"
          (cellChange)="onFinancialStatementCellChange($event)"
        />
      </div>
    } @else {
      <div class="financial-hint">
        <mat-icon class="financial-hint__icon">info</mat-icon>
        <span>Salve o produto para informar os preços de cada loja.</span>
      </div>
    }
  </div>
</app-entity-form-component>
