@if (loading()) {
  <app-spinner />
}

<h2 mat-dialog-title class="dialog-title">Alterar senha</h2>

<mat-dialog-content class="dialog-content">
  <form [formGroup]="formGroup" class="dialog-form">
    <app-form-field
      label="Senha atual"
      type="password"
      [enablePasswordToggle]="true"
      placeholder="Digite a senha atual"
      [control]="currentPasswordControl"
    />

    <app-form-field
      label="Nova senha"
      type="password"
      [enablePasswordToggle]="true"
      placeholder="Digite a nova senha"
      [control]="newPasswordControl"
    />

    <app-form-field
      label="Confirme a nova senha"
      type="password"
      [enablePasswordToggle]="true"
      placeholder="Confirme a nova senha"
      [control]="confirmNewPasswordControl"
    />
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" style="gap: 15px">
  <app-button bgColor="var(--cancel-color)" (click)="onCancel()" text="Cancelar" />
  <app-button (click)="onConfirm()" text="Alterar senha" />
</mat-dialog-actions>
