<table mat-table [dataSource]="dataSource" class="mat-elevation-z2 full-width-table">
  @for (column of columns; track column) {
    <ng-container [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef>
        {{ column }}
      </th>

      <td mat-cell *matCellDef="let element">
        {{ element[column] }}
      </td>
    </ng-container>
  }

  @if (deleteButton) {
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef class="delete-column">Remover</th>

      <td mat-cell *matCellDef="let element" class="delete-column">
        <app-icon-button
          icon="delete"
          bgColor="transparent"
          iconColor="red"
          (click)="onDelete(element); $event.stopPropagation()"
        />
      </td>
    </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="onRowClick(row)"
    style="cursor: pointer"
  ></tr>
</table>
