<mat-form-field appearance="outline" class="input">
  <mat-label>{{ label }}</mat-label>

  @if (prefixIcon) {
    <mat-icon matPrefix>
      {{ prefixIcon }}
    </mat-icon>
  }

  <input
    matInput
    [type]="inputType"
    [placeholder]="placeholder"
    [formControl]="control"
    [mask]="mask"
  />

  @if (enablePasswordToggle && type === 'password') {
    <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
      <mat-icon>
        {{ hidePassword ? 'visibility_off' : 'visibility' }}
      </mat-icon>
    </button>
  } @else if (suffixIcon) {
    <mat-icon matSuffix>
      {{ suffixIcon }}
    </mat-icon>
  }

  @if (errorMessage) {
    <mat-error>
      {{ errorMessage }}
    </mat-error>
  }
</mat-form-field>
