<app-container-page-layout>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="card-container">
      <div class="actions">
        <app-icon-button class="icon-button" icon="add" (click)="add()" />

        <app-form-field
          prefixIcon="search"
          class="search-field"
          [placeholder]="placeholder"
          [label]="label"
          [control]="searchControl"
        />
      </div>
      <ng-content></ng-content>
    </mat-card-content>
  </mat-card>
</app-container-page-layout>
