<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-container">
    <app-form-field
      label="Email"
      placeholder="Digite seu email"
      type="email"
      [control]="emailControl"
    />
    <app-form-field
      [enablePasswordToggle]="true"
      label="Senha"
      placeholder="Digite sua senha"
      type="password"
      [control]="passControl"
    />
    <div style="display: flex; flex-direction: column; gap: 10px">
      <app-button icon="login" text="Entrar" type="submit" width="100%" />
      <app-button
        width="100%"
        icon="person"
        bgColor="transparent"
        textColor="var(--primary)"
        text="Realizar Cadastro"
        (click)="navigateToRegister()"
      >
      </app-button>

      <div class="register-container">
        <div>
          <app-button
            icon="password"
            text="Esqueci minha senha"
            type="submit"
            bgColor="transparent"
            textColor="var(--primary)"
            width="100%"
          />
        </div>
      </div>
    </div>
  </div>
</form>
